body{
     background-color: rgba(32, 31, 31, 0.767);
}


#ab{
    background-color: rgba(88, 44, 145, 0.801);
    font-size: 20px;

    height: 500px;
    width: 500px;
    border-radius: 200%;
    position: relative;
    left: 500px

}
#ab:hover{
    background-color: rgba(133, 86, 139, 0.801);
    font-size: 20px;
    height: 520px;
    width: 510px;
    border-radius: 200%;
 
   transition: 1s;
}

.list{
    color: antiquewhite;
    font-family: monospace;
    font-size: 25px;
    position: relative;
    left: 80px;
    top: 140px;
}
